<div 
  class="absolute top-0 right-0 bottom-0 left-0 flex items-center justify-center"
>
  <div @openClose *ngIf="true"
    class="rounded-3xl bg-white font-moonBold md:px-8 md:py-7 md:text-sm lg:px-16 lg:py-14 lg:text-2xl"
  >
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="pb-4">
        <div class="pb-2">
          <label for="name">Name & Surname on invite</label>
        </div>
        <div
          class="relative flex items-center text-gray-400 focus-within:text-gray-600"
        >
          <fa-icon
            class="pointer-events-none absolute ml-4"
            icon="i-cursor"
          ></fa-icon>
          <input
            autocomplete="off"
            id="name"
            type="text"
            formControlName="name"
            class="border-2 rounded-2xl p-4 pl-14 {{
              name?.invalid && (name?.dirty || name?.touched)
                ? 'border-red-600'
                : 'border-black'
            }}"
          />
        </div>
        <div *ngIf="isRequiredError" class="text-sm text-red-600">
          Cannot be left empty
        </div>
        <div
          *ngIf="noSurnameError && !isRequiredError"
          class="text-sm text-red-600"
        >
          Surname is missing
        </div>
      </div>
      <div class="pb-4">
        <p>Are you attending?</p>
        <div class="flex">
          <div>
            <div
              class="{{
                isAttending == null || isAttending == true
                  ? 'bg-green-600'
                  : 'bg-gray-400'
              }} hover:bg-green-400 text-white font-bold md:py-1 md:px-2 rounded-2xl mr-4"
              (click)="toggleGuestForm(true)"
            >
              Yes
            </div>
          </div>
          <div>
            <div
              class="{{
                isAttending == null || isAttending == false
                  ? 'bg-red-600'
                  : 'bg-gray-400'
              }} hover:bg-red-400 text-white font-bold md:py-1 md:px-2 rounded-2xl"
              (click)="toggleGuestForm(false)"
            >
              No
            </div>
          </div>
        </div>
      </div>
      <div class="pb-4" *ngIf="isAttending">
        <div>
          <label for="numberOfGuests">Number Of Guests</label>
        </div>
        <div
          class="relative flex items-center text-gray-400 focus-within:text-gray-600"
        >
          <fa-icon
            class="pointer-events-none absolute ml-4"
            icon="arrow-up-1-9"
          ></fa-icon>
          <input
            id="numberOfGuests"
            type="number"
            formControlName="numberOfGuests"
            class="border-2 rounded-2xl p-4 pl-14 {{
              numberOfGuests?.invalid &&
              (numberOfGuests?.dirty || numberOfGuests?.touched)
                ? 'border-red-600'
                : 'border-black'
            }}"
          />
        </div>
        <div
          *ngIf="
            numberOfGuests?.invalid &&
            (numberOfGuests?.dirty || numberOfGuests?.touched)
          "
          class="text-sm text-red-600"
        >
          {{
            numberOfGuests?.value == 0
              ? "Number of guests is required"
              : "Number of guests cannot be less than 1 and more than 11"
          }}
        </div>
      </div>
      <div class="flex">
        <button
          type="submit"
          class="mr-4 rounded-2xl bg-green-600 py-2 px-4 font-bold text-white hover:bg-green-400"
        >
          Submit
        </button>
        <button
          class="mr-4 rounded-2xl bg-red-600 py-2 px-4 font-bold text-white hover:bg-red-400"
          (click)="onCancel()"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
