<!--  Invitation Message-->
<div class="animate-fade-in-down2 {{this.rsvpTriggered ? 'blur-3xl' : ''}} w-screen h-screen bg-photo bg-cover bg-center">
    <div class="lg:flex justify-center items-center lg:divide-x text-white font-moonBold lg:text-5xl md:text-2xl ml-6 pt-6">
        <div class="px-10">{{weddingInfo.bridesName}}
          <span class="font-moonBold text-2xl">&</span> {{weddingInfo.groomsName}}
        </div>
        <div class="px-10">
          <span>{{weddingInfo.weddingDate.format('Do')}}</span>
          <span class="p-4">{{weddingInfo.weddingDate.format('MMMM')}}</span>
          <span>{{weddingInfo.weddingDate.format('YYYY')}}</span>
        </div>
        <div class="px-10">{{weddingInfo.ceremonyTime}}
          <span>{{weddingInfo.isCeremonyInTheEvening ? 'p.m.' : 'a.m.'}}</span>
        </div>
    </div>

    <div class="mb-12 p-5 absolute inset-x-0 bottom-0 ">
      <div class="flex justify-center items-center">
        <button class="bg-transparent hover:bg-yellow-600 text-white font-moonBold hover:text-white lg:py-4 md:py-2
          lg:px-8 md:px-4 border border-white hover:border-transparent rounded lg:text-4xl md:text-2xl" (click)="onClick(1)">RSVP</button>
      </div>
    </div>
</div>

<app-attendance-form *ngIf="rsvpTriggered" (isAttendingParent)="isAttendingTriggered($event)"></app-attendance-form>
