<div class="bg-yellow-600 h-screen w-screen bg-photo bg-cover bg-center">
  <div class="lg:flex justify-center items-center text-white font-bodyLuci lg:text-6xl md:text-3xl ml-6 pt-6">
    <div class="p-2 mr-4">Sylvana
      <span class="font-dancingScript">&</span> Ezekiel
    </div>
    <div class="p-2 mr-4">
      <span class="font-dancingScript">9th</span>
      <span>September</span>
      <span class="font-dancingScript">2022</span>
    </div>
    <div class="p-2 font-dancingScript">5:00
      <span class="font-bodyLuci">p.m.</span>
    </div>
  </div>
</div>
