<!--Image-->
<div class="bg-purple-400 h-72">
</div>

<!--Names -->
<div class="bg-grayBackground-light h-screen">
  <div class="flex flex-col space-y-3 justify-center items-center">
    <div class="flex-initial text-yellow-600 font-serif text-6xl my-6">
      {{firstName}}
    </div>
    <div class="flex-initial text-yellow-600 font-serif text-6xl">
      {{secondName}}
    </div>
    <button class="rounded-2xl bg-yellow-600 p-3" (click)="onClick('clicked')">
      {{buttonName}}
    </button>
  </div>
</div>
