<!--Top image-->
<header>
  <div class="w-full bg-cover bg-center h-imageH"
       style="background-image: url(./assets/coverPhoto.jpg);">
  </div>
</header>

<!-- Description & Names -->
<div>
  <div class="flex flex-col items-center">
    <div class="font-mono mt-6 ml-16 text-2xl">You are warmly invited to the wedding of</div>
    <div class="flex-initial font-bodyLuci text-9xl tracking-wide my-6">
      {{firstName}}
    </div>
    <div class="font-bodyLuci text-7xl">&</div>
    <div class="flex-initial font-bodyLuci text-9xl tracking-wide my-6">
      {{secondName}}
    </div>
    <button *ngIf="false" class="rounded-2xl bg-yellow-600 p-3"  (click)="onClick('clicked')">
      RSVP
    </button>
  </div>
</div>
