<!--  Invitation Message-->
<div class="flex animate-fade-in-down2 {{this.rsvpTriggered ? 'blur-3xl' : ''}}">
  <div class="w-full h-screen bg-photo bg-cover bg-center">
    <div class="flex justify-center items-center divide-x text-white font-bodyLuci ml-6 text-6xl lg:ml-10 lg:mt-10">
        <div class="p-5">{{weddingInfo.bridesName}} <span class="font-dancingScript">&</span> {{weddingInfo.groomsName}}</div>
        <div class="p-5">
          <span class="mr-4 font-dancingScript text-4xl">{{weddingInfo.weddingDate.format('Do')}}</span>
          <span class="mr-4">{{weddingInfo.weddingDate.format('MMMM')}}</span>
          <span class="font-dancingScript text-4xl">{{weddingInfo.weddingDate.format('YYYY')}}</span>
        </div>
        <div class="p-5">{{weddingInfo.ceremonyVenue}}</div>
    </div>

    <div class="mb-12 p-5 absolute inset-x-0 bottom-0 ">
      <div class="flex justify-center items-center">
        <button class="bg-transparent hover:bg-yellow-600 text-white font-moonBold hover:text-white py-4
          px-8 border border-white hover:border-transparent rounded text-4xl" (click)="onClick(1)">RSVP</button>
      </div>
      </div>
  </div>
<!--  &lt;!&ndash;  RSVP Button Information&ndash;&gt;
  <div class="w-full h-screen bg-mountains bg-cover bg-center flex flex-col justify-center items-center">
    <div class="text-yellow-800 text-2xl lg:text-4xl font-moonBold p-2">{{weddingInfo.ceremonyVenue}}</div>
    <div class="text-yellow-800 text-sm lg:text-2xl font-moonBold p-2">{{weddingInfo.ceremonyTime}}</div>
    <div class="text-yellow-800 text-2xl lg:text-4xl font-moonBold p-2">{{weddingInfo.receptionVenue}}</div>
    <div class="text-yellow-800 text-sm lg:text-2xl font-moonBold p-2">{{weddingInfo.receptionTime}}</div>

    <button class="animate-bounce mt-6 bg-transparent hover:bg-yellow-600 text-white font-moonBold hover:text-white py-2
      px-4 border border-yellow-800 hover:border-transparent rounded" (click)="onClick(1)">
      RSVP
    </button>
  </div>
</div>-->
</div>
<div *ngIf="rsvpTriggered" class="bg-slate-800 bg-opacity-50 flex justify-center items-center absolute top-0 right-0 bottom-0 left-0">
  <div class="bg-white px-16 py-14 rounded-md text-center">
    <h1 class="text-xl mb-4 font-bold text-slate-500">Enter </h1>
    <button class="bg-indigo-500 px-4 py-2 rounded-md text-md text-white" (click)="onClick(1)">Cancel</button>
    <button class="bg-red-500 px-7 py-2 ml-2 rounded-md text-md text-white font-semibold" (click)="onClick(2)">Ok</button>
  </div>
</div>
